BranchConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://axadirect-solutions.pl/Schemas/BranchConfiguration.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bb="http://axadirect-solutions.pl/Schemas/BranchConfiguration.xsd">
  <xs:simpleType name="TargetRepository">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Scheduler" />
      <xs:enumeration value="Www" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PublishMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Publish" />
      <xs:enumeration value="CopyOutput" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Branch">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Buildable" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Solution" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="Output" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Pattern" />
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="Destination" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PublishedProjects" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Project">
                            <xs:complexType>
                              <xs:attribute type="xs:string" name="Name" use="required" />
                              <xs:attribute type="xs:string" name="TargetDirectory" use="required" />
                              <xs:attribute type="bb:TargetRepository" name="Repository" use="required" />
                              <xs:attribute type="bb:PublishMode" name="Mode" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Path" use="required" />
                  <xs:attribute type="xs:string" name="Name" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="External" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Path" maxOccurs="unbounded" minOccurs="1" type="xs:string"></xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>